{% extends 'home/base.html' %}

{% block title %}Home{% endblock %}

{% block content%}
    <div class="flex flex-wrap gap-3 bg-gray-100 p-2">
        {% for product in products %}
        <form method="POST" action="{% url 'home:add_to_shopping_list' product.id %}">
            {% csrf_token %}
            <a href='{% url 'home:detail' product.id %}'>
                <div>
                    <img src="{{ product.image.url }}" class="rounded-t-xl border-box border-gray-100">
                </div>
                <div class="bg-white text-bold text-gray-900 rounded-b-xl p-1">
                    <a class='pr-8'><strong>{{ product.name }}</strong></a> <a class='text-gray-900'><strong>KSH: {{ product.Price }}</strong> </a>
                    
                    <div class="flex items-center space-x-2">
                        <label for="quantity" class="text-sm"><strong>Quantity:</strong></label>
                        <input
                            type="number"
                            name="quantity"
                            min="1"
                            value="1"
                            class="w-16 text-center border rounded-md bg-white text-black"
                    >
                    </div>
                    
            </a>
                <button
                    type="submit"
                    class="p-1 mt-2 bg-gray-900 hover:bg-gray-700 text-white rounded-md"
                >
                Add to <i class="fa fa-shopping-cart" style="font-size:24py"></i>
                </button><a class='p-1 m-2'><strong>-{{ product.sav }}</strong></a>
            </div>
        </form>
        {% endfor %}
    </div>
    
{% endblock %}